<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css">
    <title>Boolzapp</title>
</head>

<body class="bg-custom">

    <div id="app" class="container-md">


        <div class="row debug">
            <div class="col-4">
                <div class="mycontainer">
                    <div class="row debug">
                        <div class="col-12 d-flex flex-row bg-gray align-items-center debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_io.jpg">
                                <span class="name ms-2">Sofia</span>
                            </div>
                            <div class="icons-container">
                                <i class="fa-solid fa-arrow-rotate-right"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row debug">
                        <div class="col-12 debug-col bg-blue pt-1 pb-1 d-flex flex-row align-items-center">
                            <div>
                                <i class="fa-solid fa-bell-slash ring-icon"></i>
                            </div>
                            <div class="ms-2">
                                <p> Ricevi notifiche di nuovi messaggi</p>
                                <span><u>Attiva notifiche desktop</u></span>
                            </div>
                        </div>
                    </div>
                    <div class="row debug">
                        <div class="col-12 debug-col pt-1 pb-1 d-flex flex-row pt-3">
                            <div class="input-group">
                                <span class="border-0 input-group-text">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </span>
                                <input class="border-0 form-control" type="search"
                                    placeholder="Cerca o inizia una nuova chat">
                            </div>
                        </div>
                    </div>
                    <div v-for="(contact, i) in contacts" :key="i" class="row debug pt-3 contact-row"
                        :class="{'active' :i === currentIndex}" @click="setCurrentContact(i)">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pb-3">
                                <img class="circle-image" :src="contact.avatar">
                            </div>
                            <div class="ms-2">
                                <h6>{{ contact.name }}</h6>
                                <p class="last-message-color">Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    <!--  
                    <div class="row debug pt-3">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_1.jpg">
                            </div>
                            <div class="ms-2">
                                <p>Michele</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    <div class="row debug pt-3">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_2.jpg">
                            </div>
                            <div class="ms-2">
                                <p>Fabio</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    <div class="row debug pt-3">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_3.jpg">
                            </div>
                            <div class="ms-2">
                                <p>Samuele</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    <div class="row debug pt-3">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_4.jpg">
                            </div>
                            <div class="ms-2">
                                <p>Alessandro B.</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    <div class="row debug pt-3">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_5.jpg">
                            </div>
                            <div class="ms-2">
                                <p>Alessandro L.</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    <div class="row debug pt-3">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_6.jpg">
                            </div>
                            <div class="ms-2">
                                <p>Claudia</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    <div class="row debug pt-3">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_7.jpg">
                            </div>
                            <div class="ms-2">
                                <p>Federico</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    <div class="row debug pt-3">
                        <div class="col-12 d-flex flex-row debug-col">
                            <div class="pt-1 pb-1">
                                <img class="circle-image" src="./img/avatar_8.jpg">
                            </div>
                            <div class="ms-2">
                                <p>Davide</p>
                                <p>Ultimo messaggio inviato</p>
                            </div>
                        </div>
                    </div>
                    -->
                </div>

            </div>









            <div class="col-8 d-flex flex-column">
                <div class="row debug">
                    <div class="col-12 d-flex flex-row debug-col bg-gray align-items-center">
                        <div class="pt-1 pb-1">
                            <img class="circle-image" src="./img/avatar_1.jpg">
                        </div>
                        <div class="ms-2">
                            <h6>{{ contacts[currentIndex].name }}</h6>
                            <p>Ultimo accesso oggi alle 12:00</p>
                        </div>
                        <div class="icons-container">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-link"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                </div>
                <div class="row debug  bg-main flex-grow-1 d-flex">
                    <ul class="chat d-flex flex-column pt-3">
                       <!-- <li class="message sent ">Lorem ipsum dolor sit amet.</li>
                        <li class="message received">Lorem, ipsum dolor.</li>
                        <li class="message sent">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt alias deserunt in.
                        </li> --> 
                        <li v-for="(message, index) in currentContact.messages" :key="index" :class="['message', message.status]">{{ message.message }}</li>
                    </ul>
                    
                </div>
                <div class="row debug">
                    <div class="col-12 d-flex flex-row bg-gray align-items-center debug-col">

                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="fa-regular fa-face-smile"></i>
                            </span>
                            <input class=" form-control mt-2 mb-2" type="search" placeholder="Scrivi un messaggio">
                            <span class="input-group-text">
                                <i class="fa-solid fa-microphone"></i>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>





    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="main.js"></script>
</body>

</html>