#app {
    border: solid 1px black;
}

.circle-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.icons-container {
    margin-left: auto;
    margin-right: 10px;
    color: gray;
}

.bg-gray {
    background-color: #eee;
}
/*
.debug {
    border: solid 1px black;
}

.debug-col {
    border: solid 1px red;
}
*/
.ring-style {
    color: rgb(121, 222, 237);
    background-color: white;
    font-size: 40px;
    border-radius: 50%;
    width: 50px;
    height: 45px;
}

.bg-blue {
    background-color: rgb(121, 222, 237);
}

.ms-2 p {
    margin-bottom: 5px;
}

.bg-main {
    background-image: url("./img/mine.jpg");
    background-repeat: repeat;
}

.input-group-text {
    background: none;
    border: none;
}

.left-message {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
  
}

.right-message {
    background-color: rgb(136, 238, 136);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.icons-container {
    display: flex;
    justify-content: space-between;
}

.icons-container i {
    margin-right: 10px;
}








